@using EventbriteNET.Entities
@model List<Event>

@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>

Thank you for visiting a Scene and Heard production. We welcome your feedback on any aspect of the performance.<br />



<hr/>
<br />
We need your money!<br />
@JustGiving.JustGivingButton(null)

